
.main {
    padding-top: 255px;
    padding-bottom: 120px;

    @media(max-width: 545px) {
        padding-top: 30px;
        padding-bottom: 550px;
    }

    &-container {
        &::after {
            content: '';
            position: absolute;
            top: -808px;
            right: -440px;
            width: 1324px;
            height: 1415px;
            background-image: url('#{$url}/img/dist/svg/main_bg.svg');
            background-repeat: no-repeat;
            z-index: -1;

            @media(max-width: 1139px) {
                top: -135%;
                right: -40%;
                width: 900px;
                height: 1000px;
                background-size: cover;
            }

            @media(max-width: 767px) {
                right: -60%;
            }

            @media(max-width: 545px) {
                top: unset;
                right: -330px;
                bottom: -587px;
                width: 760px;
                height: 660px;
                background-image: url('#{$url}/img/dist/svg/main_bg_mob.svg');
                background-size: cover;
            }
        }
    }

    &-content {
        max-width: 521px;

        &__img {
            margin-bottom: 30px;
        }

        &__subtitle {
            margin-bottom: 50px;
            max-width: 400px;

            @media(max-width: 545px) {
                margin-bottom: 25px;
                max-width: 255px;
            }
        }

        &__deco {
            @media(max-width: 767px) {
                display: none;
            }
        }
    }

    &-link {
        display: block;
    }
}
